/* Set up document */
body {
    margin: 0;
    font-family: 'Stratos', 'Jost';
    background-color: #FEFFF6;
    color:#0A6259;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

body.body--dark {
    background-color: #0A6259;
    margin: 0;
}

/* Set up fonts */
h4 {
    font-size: 2vw;
}
body.body--dark {
    color:#FEFFF6;
}

p {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 1vw;
}

/* Global Elements */
div.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4% - 4%);
    padding: 3% 4%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

a.header__logo > img{
    /* great this works */
    /* TODO: replace with actual logo */
    width: 30px;
    text-decoration: none;
}

ul.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.navbar>li {
    list-style: none;
    margin-left: 3vmax;
}

ul.navbar>li>a {
    text-decoration: none;
    padding: 0.7vh 1vw;
    border-radius: 100px;
    color: #0A6259;
}

ul.navbar>li>a:hover,
ul.navbar>li>a.header__active {
    background-color: #0A6259;
    color: #FEFFF6;
    transition: background-color 0.5s, color 0.5s;
}

div.header__divider {
    width: 100%;
    height: 2px;
    background-color: #0A6259;
    position: relative;
    margin: 1% 0%;
}

/* Dark mode */
div.Header--dark>a,
ul.navbar--dark>li>a {
    color: #FEFFF6;
}

div.Header--dark>div.header__divider {
    background-color: #FEFFF6;
}

ul.navbar--dark>li>a:hover,
ul.navbar--dark>li>a.header__active {
    background-color: #FEFFF6;
    color: #0A6259;
    transition: background-color 0.5s, color 0.5s;
}

/* Responsive web design yay */
@media screen and (max-width: 540px) {
    a.header__logo {
        /* great this works */
        /* TODO: replace with actual logo */
        display:none;
    }
    ul.navbar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    ul.navbar > li {
        text-align: center;
    }
}

/* landing page content */
div.landingContainer {
    width: 100vw;
    height: 50vh;
    margin: 0;
}
div.landing__titlePage {
    display:grid;
    height: 90vh;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin: 5vw;
    margin-top: 15vh;
}

div.landing__titlePage > div {
    margin-right: 3vw;
}

div.landing__titlePage > img {
    width: 50vw;
}

div.landing__titlePage > div > h1 {
    color:#FD7064;
    font-size: 7vw;
    margin: 4vh;
    margin-left: 0;
}

div.landing__titlePage > div > h3 {
    font-size: 2vw;
    font-weight: 300;
}

div.landing__introCC {
    display:grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

div.landing__introCC > h2 {
    color:#FD7064;
    margin: 5vw;
    text-align: center;
    font-size: 4vw;
    grid-column: 1 / span 2;
    grid-row: 1;
}

div.landing__introCC > img {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;

}

div.landing__introCC > p {
    grid-row: 2;
    grid-column: 2;
    font-size: 2vw;
    margin: 1vh;
    margin-right: 5vw;
}

/* Responsive */
@media screen and (max-width: 720px) {
    div.landing__titlePage {
        height: 50vh;
        grid-template-columns: 100%;
    }

    
    div.landing__titlePage > div > h1 {
        font-size: 10vw;
        margin-right: 40%;
    }
    
    div.landing__titlePage > div > h3 {
        font-size: 4vw;
        margin-right: 40%;
    }

    div.landing__titlePage > img {
        width: 100vw;
        position:absolute;
        top: -10vh;
        left: 50vw;
    }

    div.landing__introCC {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 45% 45%;
        align-items: center;
        justify-content: center;
    }
    
    div.landing__introCC > h2 {
        text-align: center;
        font-size: 4vw;
        grid-column: 1;
        grid-row: 1;
    }
    div.landing__introCC > img {
        grid-row: 2;
        grid-column: 1;
        width: 80%;
        justify-self: center;
    }
    
    div.landing__introCC > p {
        grid-row: 3;
        grid-column: 1;
        font-size: 3.5vw;
        margin: 1vh;
        margin-right: 5vw;
        color:#0A6259;
    }
}

@media screen and (max-width: 1300px) {
    div.landing__titlePage {
        height: 60vh;
    }
}

/* causes content page */
/* title page */
div.causesContainer {
    width: 100vw;
    height: auto;
    margin: 0;
}

div.causes__titleContainer {
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./Images/forest.jpg);
    background-size: cover;
    z-index: -10;
    display: grid;
    grid-template-rows: 40% 25% 15% 15% 5%;
}

@keyframes boxExpand {
    from { width: 0; opacity: 0;}
    to { width: 100%; opacity: 1;}
}

div.causes__titleContainer>h3 {
    grid-row: 1;
    align-self: end;
    padding: 0vh 10vw;
    margin: 0;
    font-size: 3vw;
}

div.causes__titleContainer>h1 {
    grid-row: 2;
    justify-self: start;
    padding: 0vh 10vw;
    margin: 0;
    font-size: 7vw;
    color: #FFCE63;
}

div.causes__titleContainer>h4 {
    text-align: right;
    padding: 0vh 10vw 0vh 50vw;
    margin: 0;
}

div.causes__titleContainer>h4.titleContainer--yellowcenter {
    text-align: center;
    padding: 0;
    color: #FFCE63;
    font-size: 1.5vw;
    font-weight: 300;
}

div.causes__toBlackTrans {
    grid-row:5;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    width: 100%;
    height: 10vw;
    align-self: end;
}

/* global warming cause page */
div.causes__globalWarming {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15% 15% 65% 3%; 
}

div.globalWarming__header,
div.GHG__Header {
    width: calc(100vw - 5vw - 5vw);
    padding: 5vh 5vw 0vh 5vw;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

div.causes__globalWarming>h2 {
    grid-row: 2;
    grid-column: span 2;
    font-size: 6vw;
    padding: 0vh 5vw;
    margin-top: 0;
}

h4.num--yellow,
h2.globalWarming--yellow,
h2.GHG--yellow, 
h4.num--yellow {
    color: #FFCE63;
    font-weight: 200;
}
h4.num--thin {
    font-weight: 300;
}
div.GHG__Header > h4 {
    margin-bottom: 0;
}

div.causes__globalWarming > div.GW__content > p {
    margin: 2vh 5vw;
    font-size: 1.5vw;
}

div.causes__globalWarming > div.GW__content {
    grid-row: 3;
    grid-column: 1;
}

div.globalWarming__climateSpiral {
    grid-row: 3;
    grid-column: 2;
    margin: 5vh 0;
    align-self: center;
    justify-self: end;
    padding-right: 5vw;
}
div.globalWarming__climateSpiral>video {
    width: 40vw;
    z-index: 1;
}
p.globalWarming__videoCredits {
    text-align: right;
    font-size: 1vw;
}

@media screen and (max-width: 900px) {
    div.causes__titleContainer {
        grid-template-rows: 30% 30% 30% 15% 5%;
    }
    div.causes__titleContainer>h3 {
        font-size: 4vw;
    }
    
    div.causes__titleContainer>h1 {
        font-size: 10vw;
    }
    
    div.causes__titleContainer>h4 {
        font-size: 3vw;
    }
    div.globalWarming__climateSpiral {
        grid-row: 3;
        grid-column: 1;
        align-self: end;
        justify-self: center;
    }
    
    div.causes__titleContainer>h4.titleContainer--yellowcenter {
        font-size: 3vw;
    }

    div.causes__globalWarming > h2 {
        font-size: 8vw;
        padding: 0vh 5vw;
        margin-top: 0; margin-bottom: 0;
    }
    
    div.globalWarming__header > h4 {
        font-size: 3vh;
    }
}

@media screen and (max-width: 700px) {
    div.causes__titleContainer {
        grid-template-rows: 30% 30% 30% 5% 15%;
    }
    div.causes__titleContainer>h3 {
        font-size: 5vw;
    }
    
    div.causes__titleContainer>h1 {
        font-size: 12vw;
    }
    
    div.causes__titleContainer>h4 {
        font-size: 4vw;
    }
    div.causes__titleContainer>h4.titleContainer--yellowcenter {
        font-size: 4vw;
    }

    div.causes__globalWarming > h2 {
        font-size: 10vw;
        margin-top: 0; margin-bottom: 0;
    }

    div.globalWarming__header > h4 {
        font-size: 3vh;
    }
}

div.GreenhouseGases {
    height: 90%;
    position: relative;
    background-image: url(./Images/GreenhouseGases.jpg);
    background-size: cover;
    z-index: -10;
}

@media screen and (max-width: 1000px) {
    div.GHG__Header > h4 {
        font-size: 3vw;
        margin-bottom: 1vh;
    }
    div.GHG__Header {
        padding-top: 2vh;
    }
    div.causes__globalWarming {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 15% 65% 3%; 
    }
    div.globalWarming__climateSpiral {
        grid-row: 3;
        grid-column: 1;
        align-self: end;
        justify-self: center;
    }

    div.causes__globalWarming > div.GW__content > p {
        font-size: 2.5vw;
    }

    div.globalWarming__climateSpiral>video {
        width: 60vw;
    }
    p.globalWarming__videoCredits {
        text-align: right;
        font-size: 2vw;
    }
    div.globalWarming__header > h4.num--yellow,
    div.GHG__Header > h4.num--yellow {
        opacity: 0;
    }
}

@media screen and (max-width: 700px) {
    div.GHG__Header > h4 {
        font-size: 3vw;
        margin-bottom: 1vh;
    }
    div.GHG__Header {
        padding-top: 2vh;
    }
    div.causes__globalWarming {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 15% 65% 3%; 
    }

    div.causes__globalWarming > div.GW__content > p {
        font-size: 3vw;
    }

    div.globalWarming__climateSpiral>video {
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    div.causes__globalWarming > div.GW__content > p {
        font-size: 3.5vw;
    }

}

div.GHGCauses {
    height: 60vh;
    position: relative;
}

div.GC__Header > h2.GCH--dark {
    font-size: 3vw;
    text-align: center;
    margin: 1vh;
    padding-top: 1vh;
    font-weight: 200;
}

img.Types__img {
    width: 13vw;
}

div.GC__Header > p.GCH--dark {
    text-align: center;
    font-size: 1.5vw;
    margin: 1vh;
}

div.GreenhouseGases>h2 {
    font-size: 6vw;
    padding: 0vh 5vw;
    margin-top: 0;
    text-align: right;
    line-height: 110%;
}

div.GHG__Content {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

div.GHG__Content > p {
    grid-column: 2;
    margin-left: 10vw;
    margin-right: 5vw;
    font-size: 2.5vw;
}

/* Responsive yayy */
@media screen and (max-width: 1000px) {
    div.GreenhouseGases>h2 {
        font-size: 8vw;
        margin-bottom: 0;
    }
    div.GHG__Content > p {
        grid-column: 2;
        margin-left: 5vw;
        font-size: 3vw;
    }
}
@media screen and (max-width: 700px) {
    div.GreenhouseGases>h2 {
        font-size: 8vw;
        margin-bottom: 0;
    }
    div.GHG__Content > p {
        grid-column: 1 / span 2;
        margin-left: 10vw;
        font-size: 2.5vw;
    }
}

div.GH_Types {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    text-align: center;
    align-items: end;
    height: 40vh;
}

div.GH_Types > div:hover > img {
    width: 14vw;
    transition: 0.3s;
}

div.GH_Types > div:hover > h2 {
    font-size: 2vw;
}

div.Types__Indepth {
    display:grid;
    grid-template-columns: 30% 70%;
    display: none;
    margin: 0 3vw;
    animation: type__Transition 0.3s ease-in-out;
}

div.GHGCauses > div.Causes__icon {
    display: none;
    flex-direction: row-reverse;
    margin: 0 5vw;
}

div.GHGCauses > div > img {
    width: 2vw;
}

div.GHGCauses > div.Causes__icon:hover > img {
    width: 2.5vw;
    transition: 0.3s;
}

div.Types__Indepth > div > p {
    text-align: left;
    font-size: 1.3vw;
}



@keyframes type__Transition {
    from {
        opacity: 0;
        transform: translateX(20vw);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

div.rightToLeft {
    animation: rightToLeft 0.3s ease-out;
}

.scroll__elem {
    opacity: 0;
    transition: opacity 0.5s;
}
  
.scroll__elem.inScreen {
    opacity: 1;
}

@keyframes rightToLeft {
    from {
        margin-right: 5vw;
        opacity: 0;
    }
    to {
        margin-right: 0;
        opacity: 1;
    }
}

/* Responsive Web Design */
@media screen and (max-width: 1200px) {
    div.GHGCauses {
        height: 75vh;
    }
    div.GH_Types {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-content: center;
        text-align: center;
        align-items: end;
        margin-top: 10vh;
    }
    div.Types__Indepth > div > p {
        text-align: left;
        font-size: 1.7vw;
    }
    div.GH_Types > div:hover > img {
        width: 16vw;
        transition: 0.3s;
    }
    
    div.GH_Types > div:hover > h2 {
        font-size: 3vw;
    }

    div.Types__Indepth {
        grid-template-columns: 40% 60%;
        margin: 0 3vw;
    }
    div.GHGCauses > div > img {
        width: 3vw;
    }
    div.GHGCauses > div.Causes__icon:hover > img {
        width: 3.5vw;
        transition: 0.3s;
    }
    div.Types__Indepth > div > img.Types__img {
        width: 20vw;
    }
    div.Types__Indepth > div > p {
        text-align: left;
        font-size: 2vw;
    }
}
@media screen and (max-width: 950px) 
{
    div.GC__Header > h2.GCH--dark {
        font-size: 6vw;
        text-align: center;
    }
    div.GC__Header > p.GCH--dark {
        text-align: center;
        font-size: 3vw;
        margin: 1vh;
    }
    div.GH_Types {
        margin-top: 5vh;
    }
    div.Types__Indepth {
        display:grid;
        grid-template-rows: 60% 40%;
        grid-template-columns: 100%;
        display: none;
        margin: 0 10vw;
        animation: type__Transition 0.3s ease-in-out;
    }
    div.Types__Indepth > div > img.Types__img {
        width: 20vw;
    }
    div.Types__Indepth > div > p {
        text-align: left;
        font-size: 2.3vw;
    }
}

@media screen and (max-width: 700px) {
    div.GH_Types {
        margin-top: 15vh;
    }
    div.Types__Indepth > div > img.Types__img {
        width: 32vw;
    }
    img.Types__img {
        width: 20vw;
    }
    div.GHGCauses {
        height: 100vh;
    }
    div.GC__Header > h2.GCH--dark {
        font-size: 5vw;
        text-align: center;
        margin: 1vh;
        padding-top: 1vh;
    }
    div.GH_Types {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-content: center;
        text-align: center;
        align-items: end;
        height: 80vh;
        margin-top: 3vh;
    }
    div.GC__Header > p.GCH--dark {
        text-align: center;
        font-size: 3vw;
        margin: 1vh;
    }
    div.GH_Types > div:hover > img {
        width: 24vw;
        transition: 0.3s;
    }
    
    div.GH_Types > div:hover > h2 {
        font-size: 4vw;
    }
    div.GHGCauses > div > img {
        width: 7vw;
    }
    div.GHGCauses > div.Causes__icon:hover > img {
        width: 9vw;
        transition: 0.3s;
    }
    div.Types__Indepth > div > p {
        text-align: left;
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 540px) {
    div.GH_Types {
        margin-top: 10vh;
    }
    div.Types__Indepth > div > img.Types__img {
        width: 32vw;
    }
    img.Types__img {
        width: 20vw;
    }
    div.GHGCauses {
        height: 90vh;
    }
    div.GC__Header > h2.GCH--dark {
        font-size: 5vw;
        text-align: center;
        margin: 1vh;
        padding-top: 1vh;
    }
    div.GH_Types {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-content: center;
        text-align: center;
        align-items: end;
        height: 70vh;
        margin-top: 3vh;
    }
    div.GC__Header > p.GCH--dark {
        text-align: center;
        font-size: 3vw;
        margin: 1vh;
    }
    div.GH_Types > div:hover > img {
        width: 24vw;
        transition: 0.3s;
    }
    
    div.GH_Types > div:hover > h2 {
        font-size: 5vw;
    }
    div.GHGCauses > div > img {
        width: 7vw;
    }
    div.GHGCauses > div.Causes__icon:hover > img {
        width: 9vw;
        transition: 0.3s;
    }
    div.Types__Indepth > div > p {
        text-align: left;
        font-size: 3.5vw;
    }
}

div.GHG__You {
    background-color: #FEFFF6;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 40% 60%;
}
div.GHG__You > div > h2 {
    text-align: end;
    color:#FFCE63;
    font-size: 4vw;
    margin: 7vh 5vw 0 30vw;
}

div.GHG__You > div > h3 {
    text-align: end;
    color:#0A6259;
    font-size: 2vw;
    margin: 2vh 5vw 0 0;
}

div.You__Container {
    margin-top: 5vh;
}

div.You__Questions {
    display:grid;
    grid-template-columns: 40% 60%;
    margin: 5vw 3vh;
}

div.You__Questions > div > h4 {
    color: #0A6259;
}

div.You__Questions:first-child {
    display:flex;
    flex-direction: row;
    flex-grow:2;
    margin:0 3vw;
}

div.You__Questions > div > h5 {
    font-size: 2vw;
    color:#FD7064;
    margin-top: 0;
}

div.Questions__Choices {
    display:flex;
    flex-direction: column;
    flex-grow:2;
    align-items: center;
    justify-content: center;
}

div.Question__Answer {
    width: auto;
    background-color:#FFCE63;
    border-radius: 2vw;
    margin: 1vw 0;
    transition: 0.3s;
}

div.Question__Answer > h3 {
    font-size: 1.3vw;
    color: #0A6259;
    font-weight: 300;
    margin: 1vh 3vw;
    text-align: center;
}

div.Question__Answer :hover {
    font-size: 1.5vw;
    transition: 0.3s;
}

div.Answer__Selected {
    background-color: #0A6259;
}
div.Answer__Selected > h3 {
    color:#FEFFF6;
}

div.You__Results {
    text-align: center;
    align-self: center;
    display: none;
}

div.You__Results > h2 {
    margin: 2vh;
    color:#FD7064;
    font-size: 3vw;
}

div.You__Results > h4 {
    margin: 2vh 10vw;
    color:#0A6259;
    font-size: 1.5vw;
    margin-bottom: 5vh;
}

button.Questions__Button {
    background-color:#FD7064; /* Green */
    border: none;
    color: #FEFFF6;
    padding: 15px 32px;
    text-align: center;
    border-radius: 1vw;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    font-family: 'Jost';
}

@media screen and (max-width: 1000px) {
    div.GHG__You {
        background-color: #FEFFF6;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 40% 60%;
    }
    div.GHG__You > div > h2 {
        text-align: end;
        color:#FFCE63;
        font-size: 6vw;
        margin: 7vh 5vw 0 5vw;
    }
    
    div.GHG__You > div > h3 {
        text-align: end;
        color:#0A6259;
        font-size: 4vw;
        margin: 2vh 5vw 0 5vw;
    }

    div.You__Questions:first-child {
        flex-direction: column;
    }

    button.Questions__Button {
        font-size: 1.6vw;
    }

    div.Question__Answer > h3 {
        font-size: 2vw;
    }
    
    div.Question__Answer :hover {
        font-size: 2.5vw;
    }

    div.You__Questions > div > h5 {
        font-size: 3vw;
        margin-bottom: 0;
    }

    div.Questions__Choices {
        margin-top: 3vw;
    }
    

    div.You__Questions > div > h4 {
        color: #0A6259;
        font-size: 3.5vw;
        margin-top: 1vh;
    }

    div.You__Results > h2 {
        margin: 2vh;
        font-size: 6vw;
    }
    
    div.You__Results > h4 {
        margin: 2vh 10vw;
        font-size: 2.5vw;
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 600px) {
    button.Questions__Button {
        font-size: 2.5vw;
    }

    div.Question__Answer > h3 {
        font-size: 3vw;
    }
    
    div.Question__Answer :hover {
        font-size: 3.5vw;
    }

    div.You__Questions > div > h5 {
        font-size: 4vw;
        margin-bottom: 0;
    }

    div.Questions__Choices {
        margin-top: 10vw;
    }

    div.You__Questions > div > h4 {
        font-size: 5vw;
        margin-bottom: 1vh;
        margin-top: 2vh;
    }
}

/* Solutions page */
div.Solutions__title {
    margin: 5vw 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

div.Solutions__title > h4, div.Solutions__title > h1 {
    grid-column: 2;
    margin-right: 7vw;
}

img.Solutions__img {
    grid-column: 1;
    width: 60vw;
    position: absolute;
    z-index: 1;
    top: -5vh;
}

div.Solutions__title > h1 {
    font-size: 6vw;
    text-align: right;
    color: #FD7064;
    margin-bottom: 0;
}

div.Solutions__title > h4 {
    text-align: right;
    font-weight: 200;
    font-size: 2vw;
}

div.Solutions__atHome {
    background-color: #0A6259;
    width: 100vw;
    height: 50vh;
    position: relative;
    display: grid;
    margin-top: 20vh;
    grid-template-columns: repeat(2, 1fr);
}

div.Home__banner {
    margin-left: 7vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.Home__banner > h2 {
    text-align: left;
    font-weight: 550;
    font-size: 6vw;
    color: #FEFFF6;
    margin-bottom: 1vh;
    margin-top: 0;
}

div.Home__banner > h4 {
    text-align: left;
    font-weight: 400;
    font-size: 2.5vw;
    margin:0;
    color: #FEFFF6;
}

img.Solutions__KitchenImg {
    width: 55vw;
    position: absolute;
    top: -20vh;
    right: 2vw;
}

div.Home__Diorama {
    margin-top: -5vh;
}

div.Solutions__Circle {
    border-radius: 100%;
    background-color: #FEFFF6;
    width: 4vmax;
    height: 4vmax;
    color:#FD7064;
    position:absolute;
    text-align: center;
    display:flex;
    flex-direction: column-reverse;
    transition: 0.3s;
}
div.Solutions__Circle > h5 {
    font-family: 'Jost';
    font-size: 2vmax;
    margin: 1vh 0;
    transition: 0.3s;
    font-weight: 300;
}

div.Solutions__Circle:hover {
    width: 4.5vmax;
    height: 4.5vmax;
}
div.Solutions__Circle:hover > h5 {
    font-size: 2.5vmax;
}
 
div.Home__Diorama > div.Solution__1 {
    top: 15vw;
    right: 5vw;
}
div.Home__Diorama > div.Solution__2 {
    top: 10vw;
    right: 40vw;
}
div.Home__Diorama > div.Solution__3 {
    top: 10vw;
    right: 15vw;
}
div.Home__Diorama > div.Solution__4 {
    top: 5vw;
    right: 45vw;
}
div.Home__Diorama > div.Solution__5 {
    top: -7vw;
    right: 60vw;
}
div.Home__Diorama > div.Solution__6 {
    top: 15vw;
    right: 80vw;
}

div.Solutions__inPublic {
    width: 100vw;
    height: 50vh;
    position: relative;
    display: grid;
    margin-top: 20vw;
    grid-template-columns: repeat(2, 1fr);
}

div.Public__banner {
    margin-right: 9vw;
    margin-bottom: 5vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.Public__banner > h2 {
    text-align: right;
    font-weight: 550;
    font-size: 6vw;
    margin-bottom: 1vh;
    margin-top: 0;
}

div.Public__banner > h4 {
    text-align: right;
    font-weight: 400;
    font-size: 2.5vw;
    margin:0;
}

img.Home__ParkDiorama {
    grid-column: 1;
    width: 80vw;
    z-index: -1;
    top: -20vh;
    position:absolute;
    margin-left: -10vw;
}

div.Solution__tips {
    width: 25vw;
    background-color:#FEFFF6;
    position:absolute;
    border-radius: 1vw;
    padding: 1vw;
    display:none;
}

div.Solution__tips > p {
    font-weight: 500;
    color:#0A6259
}

div.Solution__tips > h4 {
    margin: 1vh 0;
}

div.Solution__1 > div > p, div.Solution__1 > div > h4,
div.Solution__4 > div > p, div.Solution__4 > div > h4 {
    text-align: right;
}
div.Solution__1 > div.Solution__tips {
    right: 5vw;
    top: 2vw;
}

div.Solution__2 > div > p, div.Solution__2 > div > h4 {
    text-align: left;
}
div.Solution__2 > div.Solution__tips {
    right: -20vw;
    top: 5vw;
}
div.Solution__3 > div.Solution__tips {
    right: -3vw;
    top: 5vw;
}
div.Solution__4 > div.Solution__tips {
    right: 0vw;
    top: 5vw;
}
div.Solution__5 > div.Solution__tips {
    right: 3vw;
    top: 5vw;
}
div.Solution__6 > div.Solution__tips {
    right: -20vw;
    top: -15vw;
}


@media screen and (max-width: 1000px) {
    div.Solutions__title {
        margin: 10vw 0;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    
    img.Solutions__img {
        grid-row: 1;
        width: 90vw;
        position: absolute;
        z-index: 1;
        top: 25vw;
        right: 20vw;
    }
    
    div.Solutions__title > h1 {
        font-size: 8vw;
        text-align: right;
        margin-bottom: 0;
    }
    
    div.Solutions__title > h4 {
        text-align: right;
        font-weight: 200;
        font-size: 3vw;
    }
    
    div.Solutions__atHome {
        width: 100vw;
        height: 50vh;
        margin-top: 50vh;
    }

    div.Home__banner > h2 {
        text-align: left;
        font-weight: 550;
        font-size: 8vw;
        margin-bottom: 1vh;
        margin-top: 0;
    }
    
    div.Home__banner > h4 {
        text-align: left;
        font-weight: 400;
        font-size: 4vw;
        margin:0;
    }
    
    img.Solutions__KitchenImg {
        grid-column: 2;
        width: 70vw;
        top: -20vh;
        position:absolute;
        margin-left: -10vw;
        
    }
    
    div.Home__Diorama {
        margin-top: -5vh;
    }
    
    div.Solutions__Circle {
        width: 6vmax;
        height: 6vmax;
        transition: 0.3s;
    }
    div.Solutions__Circle > h5 {
        font-family: 'Jost';
        font-size: 3vmax;
        margin-top: 1vw;
        transition: 0.3s;
        font-weight: 300;
    }
    
    div.Solutions__Circle:hover {
        width: 6.5vmax;
        height: 6.5vmax;
    }
    div.Solutions__Circle:hover > h5 {
        font-size: 3.5vmax;
    }
     
    div.Home__Diorama > div.Solution__1 {
        top: 15vw;
        right: 5vw;
    }
    div.Home__Diorama > div.Solution__2 {
        top: 7vw;
        right: 45vw;
    }
    div.Home__Diorama > div.Solution__3 {
        top: 10vw;
        right: 15vw;
    }
    div.Home__Diorama > div.Solution__4 {
        top: 0vw;
        right: 30vw;
    }
    div.Home__Diorama > div.Solution__5 {
        top: -7vw;
        right: 50vw;
    }
    div.Home__Diorama > div.Solution__6 {
        top: 25vw;
        right: 80vw;
    }
    div.Solutions__inPublic {
        margin-top: 25vw;
    }
    
    div.Public__banner {
        margin-right: 9vw;
        margin-bottom: 5vh;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    div.Public__banner > h2 {
        text-align: right;
        font-weight: 550;
        font-size: 8vw;
        margin-bottom: 1vh;
        margin-top: 0;
    }
    
    div.Public__banner > h4 {
        text-align: right;
        font-weight: 400;
        font-size: 4vw;
        margin:0;
    }
    
    img.Home__ParkDiorama {
        grid-column: 1;
        width: 100vw;
        z-index: -1;
        top: -20vw;
        position:absolute;
        right: 15vw;
    }
    
    div.Solution__tips {
        width: 25vw;
        background-color:#FEFFF6;
        position:absolute;
        border-radius: 1vw;
        padding: 1vw;
        display:none;
    }
    
    div.Solution__tips > p {
        font-size: 1.5vw;
    }
    
    div.Solution__tips > h4 {
        margin: 1vh 0;
        font-size: 2vw;
    }
    
    div.Solution__1 > div > p, div.Solution__1 > div > h4,
    div.Solution__4 > div > p, div.Solution__4 > div > h4  {
        text-align: right;
    }
    div.Solution__1 > div.Solution__tips {
        right: 8vw;
        top: 5vw;
    }
    
    div.Solution__2 > div > p, div.Solution__2 > div > h4,
    div.Solution__6 > div > p, div.Solution__6 > div > h6
    {
        text-align: left;
    }
    div.Solution__2 > div.Solution__tips {
        right: -22vw;
        top: 10vw;
    }
    div.Solution__3 > div.Solution__tips {
        right: 2vw;
        top: 10vw;
    }
    div.Solution__4 > div.Solution__tips {
        right: 0vw;
        top: 10vw;
    }
    div.Solution__5 > div.Solution__tips {
        right: -10vw;
        top: 10vw;
    }
    div.Solution__6 > div.Solution__tips {
        right: -20vw;
        top: -23vw;
    }
}

@media screen and (max-width: 750px) {
    img.Solutions__img {
        grid-row: 1;
        width: 100vw;
        position: absolute;
        z-index: 1;
        top: 25vw;
        right: 20vw;
    }

    img.Solutions__KitchenImg {
        grid-column: 2;
        width: 80vw;
        top: -20vh;
        position:absolute;
        margin-left: -10vw;   
    }

    div.Home__Diorama > div.Solution__1 {
        top: 7vw;
        right: 5vw;
    }
    div.Home__Diorama > div.Solution__2 {
        top: 2vw;
        right: 45vw;
    }
    div.Home__Diorama > div.Solution__3 {
        top: 3vw;
        right: 15vw;
    }

    div.Solution__tips > p {
        font-size: 1.75vw;
    }
    
    div.Solution__tips > h4 {
        margin: 1vh 0;
        font-size: 2.5vw;
    }
}


@media screen and (max-width: 560px) {
    div.Solutions__title {
        margin: 10vw 0;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    
    img.Solutions__img {
        grid-row: 1;
        width: 100vw;
        position: absolute;
        z-index: 1;
        top: 50vw;
        right: 20vw;
    }
    
    div.Solutions__title > h1 {
        grid-column: 1 / span 2;
        font-size: 10vw;
        text-align: right;
        margin-bottom: 0;
        margin-top: 8vh;
    }
    
    div.Solutions__title > h4 {
        text-align: right;
        font-weight: 200;
        font-size: 4vw;
    }
    
    div.Solutions__atHome {
        width: 100vw;
        height: 50vh;
        margin-top: 50vh;
    }

    div.Home__banner > h2 {
        text-align: left;
        font-weight: 550;
        font-size: 10vw;
        margin-bottom: 1vh;
        margin-top: 0;
    }
    
    div.Home__banner > h4 {
        text-align: left;
        font-weight: 400;
        font-size: 5vw;
        margin:0;
    }
    
    img.Solutions__KitchenImg {
        grid-column: 2;
        width: 90vw;
        top: -20vh;
        position:absolute;
        margin-left: -10vw;
        
    }
    
    div.Home__Diorama {
        margin-top: -5vh;
    }
    
    div.Solutions__Circle {
        width: 6vmax;
        height: 6vmax;
        transition: 0.3s;
    }
    div.Solutions__Circle > h5 {
        font-family: 'Jost';
        font-size: 3vmax;
        margin-top: 1vw;
        transition: 0.3s;
        font-weight: 300;
    }
    
    div.Solutions__Circle:hover {
        width: 6.5vmax;
        height: 6.5vmax;
    }
    div.Solutions__Circle:hover > h5 {
        font-size: 3.5vmax;
    }
     
    div.Home__Diorama > div.Solution__1 {
        top: 5vw;
        right: 7vw;
    }
    div.Home__Diorama > div.Solution__2 {
        top: 0vw;
        right: 55vw;
    }
    div.Home__Diorama > div.Solution__3 {
        top: 0vw;
        right: 25vw;
    }
    div.Home__Diorama > div.Solution__4 {
        top: 0vw;
        right: 30vw;
    }
    div.Home__Diorama > div.Solution__5 {
        top: -7vw;
        right: 50vw;
    }
    div.Home__Diorama > div.Solution__6 {
        top: 25vw;
        right: 80vw;
    }
    
    
    div.Public__banner > h2 {
        text-align: right;
        font-weight: 550;
        font-size: 10vw;
        margin-bottom: 1vh;
        margin-top: 0;
    }
    
    div.Public__banner > h4 {
        text-align: right;
        font-weight: 400;
        font-size: 5vw;
        margin:0;
    }
    
    img.Home__ParkDiorama {
        grid-column: 1;
        width: 110vw;
        z-index: -1;
        top: -20vw;
        position:absolute;
        right: 15vw;
    }
    
    div.Solution__tips {
        width: 30vw;
        background-color:#FEFFF6;
        position:absolute;
        border-radius: 1vw;
        padding: 1vw;
        display:none;
    }
    
    div.Solution__tips > p {
        font-size: 2.5vw;
    }
    
    div.Solution__tips > h4 {
        margin: 1vh 0;
        font-size: 4vw;
    }
    
    div.Solution__1 > div > p, div.Solution__1 > div > h4,
    div.Solution__4 > div > p, div.Solution__4 > div > h4  {
        text-align: right;
    }
    div.Solution__1 > div.Solution__tips {
        right: 14vw;
        top: 10vw;
    }
    
    div.Solution__2 > div > p, div.Solution__2 > div > h4,
    div.Solution__6 > div > p, div.Solution__6 > div > h6
    {
        text-align: left;
    }
    div.Solution__2 > div.Solution__tips {
        right: -22vw;
        top: 15vw;
    }
    div.Solution__3 > div.Solution__tips {
        right: 2vw;
        top: 15vw;
    }
    div.Solution__4 > div.Solution__tips {
        right: 0vw;
        top: 13vw;
    }
    div.Solution__5 > div.Solution__tips {
        right: -10vw;
        top: 13vw;
    }
    div.Solution__6 > div.Solution__tips {
        right: -20vw;
        top: 15vw;
    }
}