html {
    scroll-behavior: smooth;
}

body {
    font-family: nimbus-sans-extended,source-han-sans-simplified-c,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0vw;
    overflow-x: hidden;
}

.body--light {
    background-color: #f5f5f5;
    color: #0F1A35;
}

.body--dark {
    background-color: #0F1A35;
    color: #f5f5f5;
}

.whiteLine {
    height: 3px;
    background-color: #f5f5f5;
    margin: 2vw;
}

.body--light .whiteLine {
    background-color: #0F1A35;
}

/* Scroll Transition */
.scroll__elem {
    opacity: 0;
    transform: translate(-30vw, 0px);
    transition: transform 0.5s, opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
  
.scroll__elem.inScreen {
    opacity: 1;
    transform: translate(0vw, 0px);
}

.header {
    display: grid;
    grid-template-columns: 50% 35% 15%;
    align-items: center;
    height: 5vh;
    padding: 0 2vw 0 2vw;
    width: calc(100vw - 2vw - 2vw);
    position: fixed;
    z-index: 10;
}

.header__menu {
    display:flex;
    flex-direction: row;
}

.header__menu > h2 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 700;
    font-size: 2vw;
    font-style: normal;

    flex-grow: 3;
}

.header__menu__items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    flex-grow: 2;
}

.header__menu__items > h3 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 200;
    font-size: 1.25vw;
    font-style: normal;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
}

.header__menu__items :hover {
    background-color: #f5f5f5;
    color: #0F1A35;
    border-radius: 50px;
}

.body--light .header__menu__items :hover {
    background-color: #0F1A35;
    border-radius: 50px;
    color: #f5f5f5;
}

.header__others {
    display:grid;
    grid-template-columns: 50% 25% 25%;

    align-items: center;
    justify-items: center;
}

.header__others > div {
    padding: 0.5vw;
}

.header__others > div :hover {
    background-color: #f5f5f5;
    color: #0F1A35;
}

.body--light .header__others > div :hover {
    background-color: #0F1A35;
    color: #f5f5f5;
}

.header__others > div > h3 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 200;
    font-size: 1.25vw;
    font-style: normal;
    text-align: center;

    padding: 0.5vw 0.7vw;
    border-color: #f5f5f5;
    border-radius: 50px;
    border-style: solid;
    border-width: 0.15vw;
}

.header__others > div > img {
    width: 1.5vw;
    height: 1.5vw;

    padding: 0.55vw 0.7vw;
    border-color: #f5f5f5;
    border-radius: 50px;
    border-style: solid;
    border-width: 0.15vw;
}

.body--light .header__others > div > h3, .body--light .header__others > div > img  {
    border-color: #0F1A35;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    border: 0;
}
