html {
    scroll-behavior: smooth;
}

body {
    font-family: nimbus-sans-extended,source-han-sans-simplified-c,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0vw;
    overflow-x: hidden;
}

.body--light {
    background-color: #f5f5f5;
    color: #0F1A35;
}

.body--dark {
    background-color: #0F1A35;
    color: #f5f5f5;
}

.whiteLine {
    height: 3px;
    background-color: #f5f5f5;
    margin: 2vw 1vw 2vw;
}

.body--light .whiteLine {
    background-color: #0F1A35;
}

/* Scroll Transition */
.scroll__elem {
    opacity: 0;
    transform: translate(-30vw, 0px);
    transition: transform 0.5s, opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scroll__elem--alt {
    animation: scrollAnim;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scroll__elem--alt1 {
    animation: scrollAnim__other;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes scrollAnim {
    0% {
        transform: translate(-10vw, 0px);
        opacity: 0;
    }
    100% {
        transform: translate(0vw, 0px);
        opacity: 1;
    }
}

@keyframes scrollAnim__other {
    0% {
        transform: translate(0, 30vw) rotateZ(0deg);
        opacity: 0;
    }
    100% {
        transform: translate(0vw, 0px) rotate();
        opacity: 1;
    }
}
  
.scroll__elem.inScreen {
    opacity: 1;
    transform: translate(0vw, 0px);
}

.header {
    display: grid;
    grid-template-columns: 50% 35% 15%;
    align-items: center;
    height: 5vh;
    padding: 0 2vw 0 2vw;
    width: calc(100vw - 2vw - 2vw);
    position: fixed;
    z-index: 10;
}

.header__menu {
    display:flex;
    flex-direction: row;
}

.header__menu > h2 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 700;
    font-size: 2vw;
    font-style: normal;

    flex-grow: 3;
}

.header__menu__items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    flex-grow: 2;
}

.header__menu__items > h3, .header__menu__items > a > h3 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 200;
    font-size: 1.25vw;
    font-style: normal;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
}

.header__menu__items :hover {
    background-color: #f5f5f5;
    color: #0F1A35;
    border-radius: 50px;
}

.body--light .header__menu__items :hover {
    background-color: #0F1A35;
    border-radius: 50px;
    color: #f5f5f5;
}

.header__others {
    display:grid;
    grid-template-columns: 50% 25% 25%;

    align-items: center;
    justify-items: center;
}

.body--dark .LanguageSelect > h3 {
    color:#f5f5f5;
}

.header__others > button {
    background-color: transparent;
    border: 0;
}

.header__others > .header__others__resume {
    justify-self: end;
}

.header__others > div, .header__others > button {
    padding: 0.5vw;
}

.header__others > div :hover, .header__others > button :hover {
    background-color: #f5f5f5;
    color: #0F1A35;
}

.body--light .header__others > div :hover, .body--light .header__others > button :hover {
    background-color: #0F1A35;
    color: #f5f5f5;
}

.header__others > div > a > h3, .header__others > button > h3 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 200;
    font-size: 1.25vw;
    font-style: normal;
    text-align: center;

    padding: 0.5vw 0.7vw;
    border-color: #f5f5f5;
    border-radius: 50px;
    border-style: solid;
    border-width: 0.15vw;
}

.header__others > button > img {
    width: 1.5vw;
    height: 1.5vw;

    padding: 0.55vw 0.7vw;
    border-color: #f5f5f5;
    border-radius: 50px;
    border-style: solid;
    border-width: 0.15vw;
}

@media screen and (max-width: 1100px) {
    .whiteLine {
        height: 3px;
        margin: 2vw 1vw 2vw;
    }
    
    .header {
        height: 5vh;
        grid-template-columns: 50% 30% 20%;
    }
    
    .header__menu > h2 {
        font-size: 2.5vw;
    }
    
    .header__menu__items > h3 {
        font-size: 1.75vw;
        padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    }
    
    .header__others > div > h3, .header__others > button > h3 {
        font-size: 1.75vw;
    }

    .header__others > button > img {
        width: 2vw;
        height: 2vw;
    }
}

@media screen and (max-width: 750px) {
    .whiteLine {
        height: 3px;
        margin: 2vw 1vw 2vw;
    }
    
    .header {
        height: 5vh;
        grid-template-columns: 55% 20% 25%;
    }
    
    .header__menu > h2 {
        font-size: 3vw;
    }
    
    .header__menu__items > h3 {
        font-size: 2.25vw;
        padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    }
    
    .header__others > div > h3, .header__others > button > h3 {
        font-size: 2.25vw;
    }

    .header__others > button > img {
        width: 2.5vw;
        height: 2.5vw;
    }
}

@media screen and (max-width: 500px) {
    .whiteLine {
        height: 3px;
        margin: 2vw 2vw 2vw;
    }
    
    .header {
        height: 6vh;
        grid-template-columns: 70% 0 30%;
    }
    
    .header__menu > h2 {
        font-size: 3.5vw;
    }
    
    .header__menu__items > h3 {
        font-size: 2.75vw;
        padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    }
    
    .header__others > div > h3, .header__others > button > h3 {
        font-size: 2.75vw;
    }

    .header__others > button > img {
        width: 3vw;
        height: 3vw;
    }
}

@media screen and (max-width: 400px) {
    .whiteLine {
        height: 3px;
        margin: 2vw 2vw 2vw;
    }

    
    .header {
        height: 6vh;
        grid-template-columns: 70% 0 30%;
    }
    
    .header__menu > h2 {
        font-size: 4vw;
    }
    
    .header__menu__items > h3 {
        font-size: 3.25vw;
        padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    }

    .header__others {
        grid-template-columns: 50% 30% 20%;
    }
    
    .header__others > div > h3, .header__others > button > h3 {
        font-size: 3.25vw;
    }

    .header__others > button > img {
        width: 3.5vw;
        height: 3.5vw;
    }
}


.body--light .header__others > div > h3, .body--light .header__others > div > img, 
.body--light .header__others > button > h3, .body--light .header__others > button > img  {
    border-color: #0F1A35;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    border: 0;
}
